.main {
  color: #000000;
  background-color: #ffffff;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0px 15px 10px 15px;
}
.content {
  text-align: justify;
  padding: 0 20px;
  font-size: 1.9rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 2.0;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #4242ae;
  border-radius: 24px;
}

/* phone */
@media (max-width: 475px) {
  .main {
    padding: 7px 0px 10px 0px;
  }
}
